.idea/
/aiup-core/evals/scenario-5/inputs/.classpath
/aiup-core/evals/scenario-5/inputs/.project
/aiup-core/evals/scenario-5/inputs/.settings
/aiup-core/evals/scenario-5/inputs/target
/aiup-vaadin-jooq/evals/scenario-7/inputs/.settings
/aiup-vaadin-jooq/evals/scenario-7/inputs/.classpath
/aiup-vaadin-jooq/evals/scenario-7/inputs/.project
